

<%= form_for @club do |form| %>

    <ul class="new-club-form">

        <% if club.errors.any? %>

        <li id="error_explanation">
            <!-- <h2><%= pluralize(club.errors.count, "error") %>:</h2> -->

            <ul>
                <% club.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </li>

        <% end %>

        <li>
            <%= form.label :name, 'Club Name' %>
            <%= form.text_field :name %>    
        </li>

<!--         <li>
            <%= form.label :email, 'Email' %>
            <%= form.text_field :email, pattern: "^[a-zA-Z0-9.!#$%&’*+=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" %>
        </li> -->

        <li class="actions">
            <%= form.submit %>
        </li>
    </ul>
<% end %>