<main>

		<% @user_books.each do |user| %>

		<section class="club-stats">
			<div class="club-stat-books">
				<p class="big-name tinted-background"> 
					<span class="name"><%= user.user %>'s</span> books
				</p>

				<% @books.each do |book| %>
					<% if user.user == book.user %>
						<p>
							<a class="opaque-background" href="/posts/<%= book.id %>">
								<!-- <%= book.title %></a>  -->
								
								<span class='book-title-wrapper'>
									<span class="book-title"><%= book.title %></span>
								</span>
								<span class='book-author-wrapper'>
									<span class="by">by</span>
									<span class="book-author"><%= book.author %></span>
								</span>
							</a>
								
						</p>

						<% @ratings.each do |rating| %>

							<% if rating.book == book.book %>
								<% @rating_count += 1 %>
								<% @rating_total += rating.rating %>

								<% if rating.name == user.user %>
								<% @self_rating_count += 1 %>
								<% @self_rating_total += rating.rating %>
								<% end %>
							<% end %>

						<% end %>

					<% end %>
				<% end %>

			</div>	

			<div class="club-stat-averages">
				<p class="big-name tinted-background">
					<span class="name"><%= user.user %>'s</span> averages
				</p>

				<% @ratings.each do |rating| %>
					<% if user.user == rating.name %>
						<% @user_rating_count += 1 %>
						<% @user_rating_total += rating.rating %>
					<% end %>	
				<% end %>	

				<div class="average-rating">
					<div class="average-rating-text">Ratings given:</div>

					<% if @user_rating_count != 0 %>
					<p class="rating-number average-rating-number rating-<%= Integer(((@user_rating_total / @user_rating_count) * 10).floor / 10.0) %>">
						<%= (((@user_rating_total / @user_rating_count) * 100.00).floor / 100.00) %>
					</p>

					<% else %>

					<p class="rating-number average-rating-number rating-1">N/A</p>

					<% end %>
				</div>
			
				<div class="average-rating">
					<div class="average-rating-text">Ratings received:</div>

					<% if @rating_count != 0 %>

					<p class="rating-number average-rating-number rating-<%= Integer(((@rating_total / @rating_count) * 10).floor / 10.0) %>">
						<%= (((@rating_total / @rating_count) * 100.00).floor / 100.00) %>
					</p>

					<% else %>

					<p class="rating-number average-rating-number rating-1">N/A</p>

					<% end %>

				</div>

				<div class="average-rating">
					<div class="average-rating-text">Own book ratings:</div>

					<% if @self_rating_count != 0 %>

					<p class="rating-number average-rating-number rating-<%= Integer(((@self_rating_total / @self_rating_count) * 10).floor / 10.0) %>">
						<%= (((@self_rating_total / @self_rating_count) * 100.00).floor / 100.00) %>
					</p>

					<% else %>

					<p class="rating-number average-rating-number rating-1">N/A</p>

					<% end %>

				</div>

				<% @rating_count = 0 %>
				<% @rating_total = 0 %>	
				<% @user_rating_count = 0 %>
				<% @user_rating_total = 0 %>
				<% @self_rating_count = 0 %>
				<% @self_rating_total = 0 %>
			</div>	
		</section>

		<% end %>

<!-- 
<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
 -->

</main>
