<% content_for :title, "Club" %>

<main>
	<div class="club-links">

		<% if session['club'] != 10 and session['club'] != 0 %>

		<div>
			<p>
				Link to your club:
				<span class="share-link" id="share-link"><%= @club_link %></span>
				<a onclick="copyToClipboard()" id="share-link-button" class="rounded-link small-link">Copy</a>
			</p> 
		</div>
		<% else %>
		<div></div>
		<% end %>

		<ul class="button-group">
			<% if session['club'] != 10 and session['club'] != 0 %>

			<li>
	    		<%= link_to 'Edit club', edit_club_path(session['club']), class: 'rounded-link small-link' %>
			</li>

			<% end %>

			<li>
	   			<%= link_to 'Start a new club', new_club_path, class: 'rounded-link small-link' %>
			</li>

		</ul>

	</div>

	<% if @user_books.length == 0 %>

		<% if session['club'] == 10 and session['club'] != 0 %>

		<div class="empty">
			<div>You aren't part of a club yet.</div>
			<p class="small-text">Once you join a club, you will see the club members on this page.</p>
			<div class="button-group">
				<%= link_to "Start a club now", clubs_path, class: "rounded-link" %>
				<%= link_to "Try a quick demo", books_path, class: "rounded-link" %>
			</div>
		</div>

		<% else %>

		<div class="empty">
			<div>Your club hasn't added any books yet!</div>
			<p class="small-text">As soon as users select a book for your club, their names will appear on this page.</p>
			<p class="small-text">You will also see their book statistics here!</p>
			<div><%= link_to "Add a book now", books_path, class: "rounded-link" %></div>
		</div>

		<% end %>

	<% else %>
		<h2>
			<% if session['club'] == 10 or session['club'] == 0 %> 
			Demo

			<% else %>

			<%= @club.name %>

			<% end %>
			
		</h2>	
	<% end %>

	<div class="book-data-wrapper">

		<section class="club-stats-wrapper">
			<% @user_books.each do |user| %>

			<section class="club-stats">
				<div class="club-stat-books">
					<p class="big-name tinted-background"> 
						<span class="name"><%= user.user %>'s</span> books
					</p>

					<% @books.each do |book| %>

						<% if user.user == book.user %>
							<p>
								<a class="opaque-background" href="/posts/<%= book.id %>">
									<span class='book-title-wrapper'>
										<span class="book-title"><%= book.title %></span>
									</span>
									<span class='book-author-wrapper'>
										<span class="by">by</span>
										<span class="book-author"><%= book.author %></span>
									</span>
								</a>
									
							</p>

							<% @ratings.each do |rating| %>

								<% if rating.book != nil and rating.rating != nil %>
									<% if rating.book == book.book %>
										<% @rating_count += 1 %>
										<% @rating_total += rating.rating %>

										<% if rating.name == user.user %>
										<% @self_rating_count += 1 %>
										<% @self_rating_total += rating.rating %>
										<% end %>
									<% end %>
								<% end %>
							<% end %>

						<% end %>
					<% end %>

				</div>	

				<div class="club-stat-averages">
					<p class="big-name tinted-background">
						<span class="name"><%= user.user %>'s</span> averages
					</p>

					<% @ratings.each do |rating| %>
						<% if user.user == rating.name and rating.rating.present? %>
							<% @user_rating_count += 1 %>
							<% @user_rating_total += rating.rating %>
						<% end %>	
					<% end %>	

					<div class="average-rating">
						<div class="average-rating-text">Ratings given:</div>

						<% if @user_rating_count != 0 %>
							<% @current_user_avg_ratings_given = (((@user_rating_total / @user_rating_count) * 100.00).floor / 100.00) %>

							<%# A class is added based on the rating (0 to 10). If the rating is 10, the rating-10 class is used.
								Otherwise, just get the first digit of the rating (rating-2, rating-6, etc.) - this helps
								accommodate ratings with decimals.
							%>
							<p class="rating-number average-rating-number rating-<%
									if @current_user_avg_ratings_given == 10 %>10
								<% else %><%= String(@current_user_avg_ratings_given)[0] %><% end %>
							">
								<%= @current_user_avg_ratings_given %>
							</p>

							<%# Check if this user has the highest average ratings given (so far). If they do, 
									update: @highest_avg_ratings_given_user and @highest_avg_ratings_given_rating  %>
							<% if @highest_avg_ratings_given_user == nil %>
								<% @highest_avg_ratings_given_user = user.user %>
								<% @highest_avg_ratings_given_rating = @current_user_avg_ratings_given %>
							<% elsif @current_user_avg_ratings_given > @highest_avg_ratings_given_rating %>
								<% @highest_avg_ratings_given_rating = @current_user_avg_ratings_given %>
								<% @highest_avg_ratings_given_user = user.user %>
							<% end %>

						<% else %>

						<p class="rating-number average-rating-number rating-1">N/A</p>

						<% end %>
					</div>
				
					<div class="average-rating">
						<div class="average-rating-text">Ratings received:</div>

						<% if @rating_count != 0 %>
							<% @current_user_avg_ratings_received = (((@rating_total / @rating_count) * 100.00).floor / 100.00) %>

							<p class="rating-number average-rating-number rating-<%
									if @current_user_avg_ratings_received == 10 %>10
								<% else %><%= String(@current_user_avg_ratings_received)[0] %><% end %>
							">
								<%= (((@rating_total / @rating_count) * 100.00).floor / 100.00) %>
							</p>

							<%# Check if this user has the highest average ratings received (so far). If they do, 
									update: @highest_avg_ratings_received_user and @highest_avg_ratings_received_rating  %>
							<% if @highest_avg_ratings_received_user == nil %>
								<% @highest_avg_ratings_received_user = user.user %>
								<% @highest_avg_ratings_received_rating = @current_user_avg_ratings_given %>
							<% elsif @current_user_avg_ratings_received > @highest_avg_ratings_received_rating %>
								<% @highest_avg_ratings_received_rating = @current_user_avg_ratings_received %>
								<% @highest_avg_ratings_received_user = user.user %>
							<% end %>

						<% else %>

							<p class="rating-number average-rating-number rating-1">N/A</p>

						<% end %>

						</div>

					<div class="average-rating">
						<div class="average-rating-text">Own book ratings:</div>

						<% if @self_rating_count != 0 %>
							<% @current_user_self_rating = (((@self_rating_total / @self_rating_count) * 100.00).floor / 100.00) %>

							<p class="rating-number average-rating-number rating-<%
									if @current_user_self_rating == 10 %>10
								<% else %><%= String(@current_user_self_rating)[0] %><% end %>
							">
								<%= @current_user_self_rating %>
							</p>

							<%# Check if this user has the highest average self ratings received (so far). If they do, 
									update: @highest_avg_self_ratings_user and @highest_avg_self_ratings_rating  %>
							<% if @highest_avg_self_ratings_rating == nil %>
								<% @highest_avg_self_ratings_user = user.user %>
								<% @highest_avg_self_ratings_rating = @current_user_self_rating %>
							<% elsif @current_user_self_rating > @highest_avg_self_ratings_rating %>
								<% @highest_avg_self_ratings_rating = @current_user_self_rating %>
								<% @highest_avg_self_ratings_user = user.user %>
							<% end %>

						<% else %>

							<p class="rating-number average-rating-number rating-1">N/A</p>

						<% end %>

					</div>

					<% @rating_count = 0 %>
					<% @rating_total = 0 %>
					<% @user_rating_count = 0 %>
					<% @user_rating_total = 0 %>
					<% @self_rating_count = 0 %>
					<% @self_rating_total = 0 %>
				</div>
			</section>

			<% end %>
		</section>

			<section class="club-stats-summary">

				<p class="big-name tinted-background">
					Highest user averages
				</p>

				<div class="average-rating wide-rating">
					<div class="average-rating-text black-text">Ratings <span class="bold">given</span>:
						<span class="name"><%= @highest_avg_ratings_given_user %></span>
					</div>
					<p class="rating-number average-rating-number rating-<% 
							if @highest_avg_ratings_given_rating == 10 %>10
						<% else %><%= String(@highest_avg_ratings_given_rating)[0] %><% end %>
					">
						<%= @highest_avg_ratings_given_rating %>
					</p>
				</div>

				<div class="average-rating wide-rating">
					<div class="average-rating-text black-text">Ratings <span class="bold">received</span>:
						<span class="name"><%= @highest_avg_ratings_received_user %></span>
					</div>
					<p class="rating-number average-rating-number rating-<% 
							if @highest_avg_ratings_received_rating == 10 %>10
						<% else %><%= String(@highest_avg_ratings_received_rating)[0] %><% end %>
					">
						<%= @highest_avg_ratings_received_rating %>
					</p>
				</div>

				<div class="average-rating wide-rating">
					<div class="average-rating-text black-text">Ratings of <span class="bold">own books</span>:
						<span class="name"><%= @highest_avg_self_ratings_user %></span>
					</div>
					<p class="rating-number average-rating-number rating-<% 
							if @highest_avg_self_ratings_rating == 10 %>10
						<% else %><%= String(@highest_avg_self_ratings_rating)[0] %><% end %>
					">
						<%= @highest_avg_self_ratings_rating %>
					</p>
				</div>

			</section>

	</div>
	
</main>
