

<%= form_for @user do |form| %>


    <ul class="new-user-form">

        <% if user.errors.any? %>

        <li id="error_explanation">
            <!-- <h2><%= pluralize(club.errors.count, "error") %>:</h2> -->

            <ul>
                <% club.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </li>

        <% end %>

   		<li>
            <%= form.label :name, 'Name' %>
            <%= form.text_field :name, value: session['name']  %>
        </li>

        <li>
            <%= form.hidden_field :club, value: session['club']  %>
        </li>


        <li class="actions">
            <%= form.submit %>
        </li>
    </ul>
<% end %>