<% content_for :title, "Add Rating" %>

<main class="sub-page">
<h1>Add rating</h1>

	<%= form_for :rating, url: ratings_path do |f| %>

	<p>
		<%= f.label :book %><%=  %><br>
		<%= f.hidden_field :book, :value => params[:book] %><br>		
		<%= f.label :name %><br>
		<%= f.text_field :name %><br><br>
		<%= f.label :rating %><br>
		<!-- <%= f.range_field :rating, in:1..10 %>  -->
		<br>
		<div class="range-output">
			<output name="output" for = "rating_rating">5</output>
		</div>
		<input min="0" max="10" type="range" step="0.5" name="rating[rating]" id="rating_rating" oninput="output.value=parseFloat(rating_rating.value)">
	</p>
	<p>
		<%= f.submit %>
	</p>

	<% end %>	

</main>	
