<main>
	<img id="book-header" src="/assets/books.png" alt="">
	
	<div id="logo">
		<img src="/assets/bookbros_logo_small.png" alt="Book Bros">
	</div>
	<div class="search-links align-left">
		<a class="rounded-link" href="/books">Find a book</a>
	</div>

<!-- 	<ul style="display: flex; flex-direction: column;">
		<li><a href="#" class="rounded-link">rounded-link</a></li>		
		<li><a href="#" class="rounded-link solid-link">solid-link</a></li>
		<li><a href="#" class="rounded-link expanding-link">expanding-link</a></li>
		<li><a href="#" class="rounded-link transparent-link">transparent-link</a></li>
		<li><a href="#" class="rounded-link small-link">small-link</a></li>
		<li><a href="#" class="rounded-link fixed-width-link">fixed-width</a></li>
	</ul>	 -->

<% @books.reverse.each do |book| %>

	<% if @books.last == book %>
		<div class="book-text current-book-text">
			| Current book |
		</div>
	<% end %>	
		<section>
			<figure class="book-cover previous" id="<%= book.book %>">			
				<span class="book-image">
					<img src="https://books.google.com/books/content/images/frontcover/<%= book.book %>?fife=w200-h300"
						alt="<%= book.title %> by <%= book.author %> (No book cover available)">
				</span>
				<figcaption>
					<button type="button" class="rounded-link add-rating " id = "form-<%= book.book %>-button"
						onclick="getForm('form-<%= book.book %>')">
						Add rating
					</button>
					<div class="rating-form-wrapper " id="form-<%= book.book %>">
						<%= form_for :rating, url: ratings_path do |f| %>
							<%= f.label :book %>
							<%= f.hidden_field :book, :value => book.book %>	
							<p>	
								<%= f.label :name%>
								<%= f.text_field :name, placeholder: "Name", autocomplete: "off", required: "true",
								value: session['name'] %>
							</p>
							<p>
								<%= f.label :rating, autocomplete: "off" %>
								<!-- <%= f.range_field :rating, in:1..10 %>  -->
								<!-- <span>👎</span> -->
								
								<input min="0" max="10" type="range" step="0.5" name="rating[rating]" id="rating_rating" 
								required="true" oninput="output.value=parseFloat(rating_rating.value)">
							</span>
								<!-- <span>👍</span> -->
							</p>
							<span class="range-output">
								<output name="output" for = "rating_rating">?</output>
							</span>
						</p>
							<%= f.text_area :notes, placeholder: "Notes (optional)", autocomplete: "off" %>
						<p>
							<%= f.submit %>
						</p>

						<% end %>	
					</div>
				</figcaption>
			</figure>
			
			<div class="book-details-and-ratings">
				<ul>

					<li class='book-title-wrapper'>
						<span class="book-title"><%= book.title %></span>
					</li>
					<li class='book-author-wrapper'>
						<span class="by">by</span>
						<span class="book-author"><%= book.author %></span>
					</li>
				</ul>	
				<ul class="ratings">
					<% @ratings.each do |rating| %>
					
						<% if rating.book == book.book %>
							<% if @rating_count < 5 %>
								<li class="rating">
									<p class="name"><%= rating.name %></p>:
									<span class="rating-number rating-<%= Integer(rating.rating) %>">
										<%= rating.rating %>
									</span>	
									<% if rating.notes and rating.notes != '' %>
										&nbsp;📖
										<span class="rating-notes">
											<%= rating.notes %>
										</span>	
									<% end %>
								</li>
							<% end %>
							
							<% @rating_count += 1 %>
							<% @rating_total += rating.rating %>
						<% end %>							
					<% end %>	
					<% if @rating_count > 5 %>
						<li>
							<span class="more">...<%= @rating_count - 5 %> more</span> 
							<a href="#" class="rounded-link small-link">See all</a>
						</li>
					<% end %>
					<% if @rating_total == 0 %>
						<li><em>No ratings yet</em></li>
						<li>
							<div class="search-links book-search-links">
								<a class="rounded-link fixed-width-link" href="https://www.amazon.com/s?k=<%= book.title %>+<%= book.author %>
									&ref=as_li_tl?ie=UTF8&tag=bookbros03-20&camp=15121&creative=330641&linkCode=as2&creativeASIN=1405206276"
								target="_blank">
									<img class="icon" src="/assets/amazon_icon.png" alt=""> 
									<span class="text-after-icon">Amazon search</span>
								</a>
								<a class="rounded-link fixed-width-link" href="https://books.google.ca/books?id=<%= book.book %>"
								target="_blank">
									<img class="icon" src="/assets/google_icon.png" alt=""> 
									<span class="text-after-icon">Google search</span>
								</a>
								<% if book.club == 'bookbros' %>
								<a class="rounded-link fixed-width-link" href="https://www.torontopubliclibrary.ca/search.jsp?Ntt=<%= book.title %>+<%= book.author %>" target="_blank">
									<img class="icon library" src="/assets/library_icon.svg" alt=""> 
									<span class="text-after-icon">Library search</span></a>
								<% end %>
							</div>
						</li>	
					<% else %>
					<!-- <input type="number" value='<%= (@rating_total / @rating_count) %>' id="average_output"> -->
						<li class="average-rating">
							<div class="average-rating-text">Average rating:</div>
							<!-- <output name="average_output" for="average_output" onload="average_output.value=parseFloat(average_output.value)"></output> -->
							<p class="rating-number rating-<%= Integer(((@rating_total / @rating_count) * 10).floor / 10.0) %>">
								<%= (((@rating_total / @rating_count) * 100.00).floor / 100.00) %>
							</p>
						</li>
					<% end %>

					<% @rating_count = 0 %>
					<% @rating_total = 0 %>	
				</ul>
			</div>
	<!-- 			<li>Dave: <span>8.5</span></li>
				<li>Mike: <span>6</span></li>
				<li>Andrew: <span>9</span></li>
				<li>Paul: <span>7</span></li>
				<li>Jeff: <span>8</span></li> -->
			
		</section>
	<% if @books.last == book %>
		<% if @books.length > 1 %>
			<div class="book-text previous-books">| Previous books |</div>
		<% end %>
	<% end %>

<% end %>
<span id="copyright">© 2019 Book Bros Inc. As an Amazon Associate, Book Bros earns from qualifying purchases.</span>

</main>