<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|ZCOOL+KuaiLe" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="icon" type="image/icon" href="/assets/favicon.ico"> -->
	<%= favicon_link_tag '/favicon.ico' %>
	<title><%= @title %></title>
</head>

<body>

<h1><%= @title %></h1>

<main>
	<div class="book-text current-book">
		| Current book |
	</div>
	<div class="book-cover current-book">
		<%= image_tag('strangers_on_a_train.jpg') %>
	</div>
	<div class="search-links">
		<a href="https://www.torontopubliclibrary.ca/search.jsp?Ntt=Strangers+on+a+Train+Patricia+Highsmith"
		target="_blank">Library search</a>
		<a href="https://www.amazon.com/s?k=Strangers+on+a+Train+Patricia+Highsmith&ref=nb_sb_noss"
		target="_blank">Amazon search</a>
	</div>	
	<p class="book-text previous-books">| Previous books |</p>

	<section>
		<div class="book-cover previous">
			<%= image_tag('in_the_skin_of_a_lion.jpg') %>
		</div>
		<ul>
			<li>Dave: <span>8.5</span></li>
			<li>Mike: <span>6</span></li>
			<li>Andrew: <span>9</span></li>
			<li>Paul: <span>7</span></li>
			<li>Jeff: <span>8</span></li>
		</ul>
	</section>

</main>
<span id="copyright">© 2019 Book Bros Inc.</span>


</body>

</html>