<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|ZCOOL+KuaiLe" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="icon" type="image/icon" href="/assets/favicon.ico"> -->
	<%= favicon_link_tag '/bookbros_icon.ico' %>
	<title><%= @title %></title>
</head>

<body>

<main>
	<img id="book-header" src="/assets/books.png" alt="">
	
	<div id="logo">
		<img src="/assets/bookbros_logo_small.png" alt="Book Bros">
	</div>
	<div class="search-links align-left">
		<a class="rounded-link" href="/books">Find a book</a>
	</div>

<% @books.reverse.each_with_index do |book, i| %>
	<% if @books.last == book %>
		<div class="book-text current-book-text">
			| Current book |
		</div>
		<section class="current-book-section">
			<figure class="book-cover">
				<span class="book-image current-book">
					<img src="/assets/<%= book[0] %>.jpg" alt="<%= book[1] %> by <%= book[2] %> (No book cover available)">
				</span>
			</figure>
			<div class="current-book-info">
				<ul class="book-title-and-author">
					<li>
						<span class="book-title"><%= book[1] %></span>
					</li>
					<li >
						<span class="by">by </span><span class="book-author"><%= book[2] %></span>
					</li>
				</ul>
				<div class="search-links">
					<a class="rounded-link" href="https://www.torontopubliclibrary.ca/search.jsp?Ntt=<%= book[1] %>+<%= book[2] %>"
					target="_blank">Library search</a>
					<a class="rounded-link" href="https://www.amazon.com/s?k=<%= book[1] %>+<%= book[2] %>"
					target="_blank">Amazon search</a>
				</div>
			</div>
		</section>
		<% if @books.length > 1 %>
		<div class="book-text previous-books">| Previous books |</div>
		<% end %>
	<% else %>
		<section>
			<figure class="book-cover previous" id="<%= book[0] %>">
				
				<span class="book-image">
					<img src="/assets/<%= book[0] %>.jpg" alt="<%= book[1] %> by <%= book[2] %> (No book cover available)"> 
				<!-- <img src="https://books.google.com/books/content/images/frontcover/ {insert google_book_id} ?fife=w667-h1000" alt=""> -->
				</span>
				<figcaption>
					<button type="button" class="rounded-link add-rating " id = "form-<%= book[0] %>-button"
						onclick="getForm('form-<%= book[0] %>')">
						Add rating
					</button>
					<div class="form-wrapper " id="form-<%= book[0] %>">
						<%= form_for :rating, url: ratings_path do |f| %>

							<!-- <div class="rating-title">
								<p><%= book[1] %></p>
								<span class="by">by</span>
								<span class="book-author"><%= book[2] %></span>
							</div> -->
							<%= f.label :book %>
							<%= f.hidden_field :book, :value => book[0] %>	
							<p>	
								<%= f.label :name%>
								<%= f.text_field :name, placeholder: "Name", autocomplete: "off", required: "true",
								value: session['name'] %>
							</p>
							<p>
								<%= f.label :rating, autocomplete: "off" %>
								<!-- <%= f.range_field :rating, in:1..10 %>  -->
								<!-- <span>👎</span> -->
								
								<input min="0" max="10" type="range" step="0.5" name="rating[rating]" id="rating_rating" 
								required="true" oninput="output.value=parseFloat(rating_rating.value)">
							</span>
								<!-- <span>👍</span> -->
							</p>
							<span class="range-output">
								<output name="output" for = "rating_rating">?</output>
							</span>
						</p>
							<%= f.text_field :notes, placeholder: "Notes (optional)", autocomplete: "off" %>
						<p>
							<%= f.submit %>
						</p>

						<% end %>	
					</div>
				</figcaption>
					<!-- <%= image_tag('in_the_skin_of_a_lion.jpg') %> -->
			</figure>
			
			<div class="book-details-and-ratings">
				<ul>

					<li>
						<span class="book-title"><%= book[1] %></span>
					</li>
					<li >
						<span class="by">by</span>
						<span class="book-author"><%= book[2] %></span>
					</li>
				</ul>	
				<ul class="ratings">
					<% @ratings.each do |rating| %>
					
						<% if rating.book == book[0] %>
							<% if @rating_count < 15 %>
								<li class="rating">
									<%= rating.name %>:
									<span class="rating-number rating-<%= Integer(rating.rating) %>">
										<%= rating.rating %>
									</span>	
									<% if rating.notes and rating.notes != '' %>
										&nbsp;📖
										<span class="rating-notes">
											<%= rating.notes %>
										</span>	
									<% end %>
								</li>
							<% end %>
							
							<% @rating_count += 1 %>
							<% @rating_total += rating.rating %>
						<% end %>							
					<% end %>	
					<% if @rating_count > 5 %>
						<li>
							<span class="more">...<%= @rating_count - 5 %> more</span> 
							<a href="#" class="see-all">See all</a>
						</li>
					<% end %>
					<% if @rating_total == 0 %>
						<li><em>No ratings yet</em></li>
					<% else %>
					<!-- <input type="number" value='<%= (@rating_total / @rating_count) %>' id="average_output"> -->
						<li class="average-rating">
							<span>Average rating:</span>
							<!-- <output name="average_output" for="average_output" onload="average_output.value=parseFloat(average_output.value)"></output> -->
							<span class="rating-number rating-<%= Integer(((@rating_total / @rating_count) * 10).floor / 10.0) %>">
								<%= (((@rating_total / @rating_count) * 10).floor / 10.0) %>
							</span>
						</li>
					<% end %>

					<% @rating_count = 0 %>
					<% @rating_total = 0 %>	
				</ul>
			</div>
	<!-- 			<li>Dave: <span>8.5</span></li>
				<li>Mike: <span>6</span></li>
				<li>Andrew: <span>9</span></li>
				<li>Paul: <span>7</span></li>
				<li>Jeff: <span>8</span></li> -->
			
		</section>
	<% end %>

<% end %>
<span id="copyright">© 2019 Book Bros Inc. As an Amazon Associate, Book Bros earns from qualifying purchases.</span>

</main>


</body>


</html>