<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Book Bros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|ZCOOL+KuaiLe" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/icon" href="/assets/favicon.ico"> -->
    <%= favicon_link_tag '/bookbros_icon.ico' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9738432228413832",
        enable_page_level_ads: true
        });
    </script>
  </head>

  <body>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
    <script>
        var delay = ( function() {
        var timer = 0;
        return function(callback, ms) {
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
        })();
        (function() {
            delay(function(){
            document.getElementById('notice').style.opacity = "0";
                
            }, 2000 ); // end delay
        })();
    </script>
  </body>
</html> 
