<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Book Bros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|ZCOOL+KuaiLe|Archivo" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/icon" href="/assets/favicon.ico"> -->
    <%= favicon_link_tag '/assets/bookbros.ico' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9738432228413832",
        enable_page_level_ads: true
        });
    </script>
  </head>

  <body>
    <nav>
        <ul>
            <li class="nav-logo-container"><img class="nav-logo" src="/assets/bookbros_logo_small.png" alt="" \></li> 
            <li class="nav-links">
                <ul>
                    <li>
                        <%= link_to "Home", home_path %>
                    </li>
                    <li>
                        <%= link_to "Find a book", books_path %>
                            
                    </li>

                </ul>
                <span id="hamburger-menu">≡</span>
            </li>
        </ul>
    </nav>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <%= yield %>
    <script>
        var delay = ( function() {
        var timer = 0;
        return function(callback, ms) {
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        };
        })();
        (function() {
            delay(function(){
            document.getElementById('notice').style.opacity = "0";
            }, 2000 );
        })();
    </script>
  </body>
</html> 
